<!-- Modal -->
<div class="modal fade" id="disciplinary_add" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add Offense Record</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label">Nature of Offense:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control input-sm" id="offense_name" autofocus>
          </div>
        </div>
        <div class="form-group row">
          <label for="" class="col-sm-3 col-form-label">Date of action:</label>
          <div class="col-sm-9">
            <input type="text" class="form-control input-sm" id="offense_date">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="save_offense">Save record</button>
      </div>
    </div>
  </div>
</div>
