body{
  padding-top: 70px;
  background-color:#E0E7EE !important;
}

.paginate-pagination ul {

	margin: 20px 0;
	padding: 0;
	list-style: none;

}

.paginate-pagination ul:after {

	content: ' ';
	display: table;
	clear: both;

}

.paginate-pagination ul > li {

	float: left;
	margin-right: 3px;

}

.paginate-pagination ul > li > a.page {

	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border: 1px solid #ddd;
	background: white;
	text-decoration: none;
	cursor: pointer;

}

.paginate-pagination ul > li > a.page:hover { opacity: 0.7; }
.paginate-pagination ul > li > a.page.active { opacity: 0.7; cursor: default; }

.paginate-pagination ul > li > a.page-next.deactive,
.paginate-pagination ul > li > a.page-prev.deactive { opacity: 0.7; cursor: default; }


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
