<script src="core/js/jquery.min.js"></script>
<script src="core/js/jquery-ui.js"></script>
<script src="core/js/popper.min.js"></script>
<script src="core/js/Pagination.js"></script>
<script src="core/js/bootstrap.min.js"></script>
<script src="core/js/bootstrap-notify.min.js"></script>
<script src="core/js/datatable.min.js"></script>
<script src="core/fontawesome/js/fontawesome-all.js"></script>
