<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="core/css/bootstrap.min.css" >
  <link rel="stylesheet" href="core/css/animate.css" >
  <link rel="stylesheet" href="core/css/custom.css" >
  <link rel="stylesheet" href="core/css/jquery-ui.min.css" >
  <link rel="stylesheet" href="core/css/datatable.min.css">
  <link rel="icon" type="img/favicon.png" href="img/favicon.png">
  <title>Human Resources</title>
</head>
